.myButton {
  font-size: 0.8em;
  padding: 5px;
  margin:10px;
  border-radius: 24px;
  -moz-border-radius:24px;
	-webkit-border-radius:24px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.myButton:hover:enabled {
  cursor: pointer;
  box-shadow: -1px 0 0 1px rgba(173, 211, 86, 0.75), -1px -1px 0 1px rgba(130, 214, 106, 0.25), -1px 1px 0 1px rgba(130, 214, 106, 0.25), 0 -1px 0 1px rgba(87, 217, 126, 0.5), 0 1px 0 1px rgba(87, 217, 126, 0.5), 1px -1px 0 1px rgba(44, 220, 146, 0.25), 1px 1px 0 1px rgba(44, 220, 146, 0.25), 1px 0 0 1px rgba(0, 223, 166, 0.75);


}

.myButton[disabled], .myButton[disabled]:hover, .myButton[disabled]:focus, .myButton[disabled]:active {
  /*background: -webkit-linear-gradient(top, #000, #ddd);
  background: linear-gradient(to bottom, #000, #ddd);*/
  color: #ccc;
  border: 2px solid #eee;
  cursor:not-allowed;
}

.myButton[disabled]:hover {
    color:#ff0000;
    box-shadow: -1px 0 0 1px rgba(255, 203, 82, 0.75), -1px -1px 0 1px rgba(255, 170, 70, 0.25), -1px 1px 0 1px rgba(255, 170, 70, 0.25), 0 -1px 0 1px rgba(255, 136, 57, 0.5), 0 1px 0 1px rgba(255, 136, 57, 0.5), 1px -1px 0 1px rgba(255, 103, 44, 0.25), 1px 1px 0 1px rgba(255, 103, 44, 0.25), 1px 0 0 1px rgba(255, 69, 31, 0.75);
    border-left: 2px solid #ffcb52;
    border-right: 2px solid #ff451f;
    
}